# Godot 4+ specific ignores
.godot/
build/
reports/

.obsidian
.plugged

# Managed by gd-plug (exclude specific ones manually if they are submodules)
addons/*
!addons/gd-plug/
!addons/lunco-cameras/
!addons/lunco-content/
!addons/lunco-logger/

#webrtc addon. Probably later could be managed by gd-plug
webrtc/

# SSL certificates (security)
.cert/


# Raw data, e.g. PUGs

.raw_data/
scripts/remote_console_commands_history.txt
git_hash.txt


# Agentic skills
.agent/
.agents/