[submodule "game/content"]
	path = game/content
	url = git@github.com:LunCoSim/lunco-content.git
[submodule "game/addons/lunco-cameras"]
	path = game/addons/lunco-cameras
	url = git@github.com:LunCoSim/lunco-cameras.git
[submodule "game/addons/project-map"]
	path = game/addons/project-map
	url = git@github.com:LunCoSim/Project-Map.git
